.ui {
  position: absolute;
  top: 5%;
  left: 58%;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(215, 196, 196);
  padding: 0.5rem;
  border-radius: 14px;
  width: 40%;
  z-index: 20;
}

.purchbtn {
  background-color: rgba(17, 8, 93, 0.874);
}
.spantd {
  height: 7rem;

  color: rgb(249, 246, 246);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 5vh;
  left: 8%;
  width: 60%;
}
input {
  width: 40%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container {
  max-height: 100%;
}
.closebtn {
  position: absolute;
  left: 90%;
  background-color: transparent;
  color: red;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 30px;
}
@media screen and (max-width: 700px) {
  .ui {
    width: 80%;
    z-index: 20;
    left: 0%;
  }
  .purchbtn {
    font-size: 50%;
    width: 80px;
  }
  .container h1 {
    font-size: 20px;
  }
  .container h3 {
    font-size: 10px;
  }
  .ui img {
    display: none;
  }
  .ui input {
    display: none;
  }
}
