.about {
  background-color: aliceblue;
  flex-direction: row;
  padding: 39px;
  top: 30%;
  width: 100%;
}
.title {
  position: relative;
  top: 50%;
  left: 50%;
  font-weight: bold;
}
.images {
  display: flex;
  float: left;

  top: -10%;
  left: 10%;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  padding: 0.5rem;
  border-radius: 500px;
  width: 25%;
  /* z-index: 20; */
}
@media screen and (max-width: 700px) {
  .about {
    width: auto;
    padding: 19px;
  }
  .images {
    display: flex;
    float: left;

    top: -10%;
    left: 10%;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    padding: 0.5rem;
    border-radius: 500px;
    width: 49%;
    /* z-index: 20; */
  }
  .title {
    position: relative;
    top: 10%;
    left: 10%;
    font-weight: bold;
    z-index: 0;
  }
}
