.header {
  position: fixed;
  height: 7rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  top: 0%;
  height: 8%;
  z-index: 10%;
  width: 100vw;
}
.cartbtn {
  background-color: rgb(216, 134, 11);
}
.btn {
  cursor: pointer;
  font: inherit;
  border: none;
  /* background-color: #b0a19b; */
  color: white;
  /* padding: 0.65rem 3rem; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.amt {
  /* background-color: rgb(30, 144, 244); */
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}
.aboutbtn {
  background-color: #8a2b06;
}
.header a:hover,
.header a:active,
.header a.active {
  color: #d3a408;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #020c1b;
}

.header a {
  color: white;
  text-decoration: none;
}
.logout {
  background-color: #8a2b06;
  color: aliceblue;
}
.logout:hover {
  background-color: #8a2b06;
  color: #d3a408;
}
.logout:active {
  background-color: #8a2b06;
  color: #d3a408;
  /* box-shadow: 0 5px #666;
  transform: translateX(4px); */
}
.login {
  width: 20%;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  border-radius: 5px;
}
.headertogl {
  position: fixed;
  height: 7rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  top: 0%;
  height: 8%;
  z-index: 10%;
  width: 100vw;
}
.headertogl span {
  color: aliceblue;
}
@media screen and (max-width: 700px) {
  .header {
    position: absolute;

    /* left: -100%; */

    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgb(203, 228, 221) 100%,
      rgba(241, 224, 230, 0.71) 60%
    );
    color: #020c1b;
    z-index: 10;
  }

  .login {
    background-color: aliceblue;
    font-size: 10px;
  }

  .amt {
    /* background-color: rgb(30, 144, 244); */
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    display: inline;
  }
  .header a {
    font-size: large;
    font-weight: bolder;
    color: rgb(49, 44, 44);
    text-decoration: none;
  }
  .logout {
    background-color: #181064;
    color: aliceblue;
  }
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #135013;
  }
  .cartbtn {
    background-color: rgb(66, 9, 83);
  }
  .btn {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
  }
  .btn h2 {
    color: #070500;
  }
  .headertogl {
    left: -100%;
    position: absolute;

    /* left: -100%; */

    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgb(203, 228, 221) 100%,
      rgba(241, 224, 230, 0.71) 60%
    );
    color: #020c1b;
    z-index: 10;
  }
}
