.main-cont {
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.review-container {
  border-radius: 7px;
  box-shadow: 2px 3px 5px rgb(236, 200, 200);
  margin: 1%;
  padding: 2%;
  background-color: rgba(136, 123, 95, 0.603);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 2px 3px 5px red;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
