.ul {
  padding-bottom: 10%;
  padding-top: 10%;
  display: flex;

  /* justify-content: space-around; */

  background-color: rgb(245, 240, 240);
  list-style: none;
  width: 100%;
  border-radius: 10px;
}
