.footer {
  background: #3c4d79;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: #2f4374 0 10px 20px 5px;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.main {
  display: flex;
  background: #3a4d7c;
  /* margin: 0 auto; */
  padding: 1%;
}
